.main{
  display:flex;
  gap:60px;
}
.img{
  width:250px;
  height:250px;
}
.Navbar{
  margin:20px;
}
.items{
  list-style: none;
  margin:10px
}
.product{
  margin:60px;
  display:grid;
  grid-template-columns: repeat(3,300px);
  text-align: center;
}